.list-container {
  nav {
    height: .44rem;
    display: flex;
    background: #fff;
    align-items: center;
    position: relative;

    @include border(0 0 1px 0, #e8e8e8);

    >div:first-child {
      flex: 1;
      line-height: .44rem;
      padding-left: .15rem;
    }

    >div:last-child {
      margin-right: .15rem;
      width: 22.4vw;
      height: .3rem;
      line-height: .3rem;
      text-align: center;
      border-radius: .15rem;
      background: #f5f5f5;
      color: #00b38a;
    }
  }

  ul {
    background: #fff;

    li.list-item {
      display: flex;
      padding: .15rem;
      @include border(0 0 1px 0, #e8e8e8);

      img {
        width: .75rem;
        height: .6rem;
        padding-right: .15rem;
      }

      .item-desc {
        flex: 1;
        width: 100%;
        overflow: hidden;

        .item-title {
          @media screen and (max-device-width: 375px) {
            font-size: 16px;
          }
          @media screen and (min-device-width: 376px) {
            font-size: 20px;
          }
          font-weight: bold;
          @include ellipsis(null, 1);
          width: 100%;
        }

        .item-info {
          line-height: .3rem;
          display: flex;

          .item-pos {
            flex: 1;
            @include ellipsis();
          }

          .item-salary {
            font-size: .16rem;
            color: #00b38a;
            width: .7rem;
            text-align: right
          }
        }

        .item-time {
          font-size: .12rem;
          color: #888;
        }
      }
    }
  }

  .head,
  .foot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: .4rem;
  }

  .head img,
  .foot img {
    width: .16rem;
    height: .16rem;
    transition: transform 150ms;
    -webkit-transition: transform 150ms;
  }

  .head img {
    transform: rotate(180deg);
  }

  .up {
    transform: rotate(360deg) !important;
    -webkit-transform: rotate(360deg) !important;
  }

  .down {
    transform: rotate(180deg);
  }
}