.index-container {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .index-container header {
    height: .44rem;
    background: #00b38a;
    font-size: .18rem;
    text-align: center;
    line-height: .44rem;
    color: #fff; }
  .index-container main {
    flex: 1;
    overflow-y: scroll; }
  .index-container footer {
    height: .44rem; }
    .index-container footer ul {
      height: 100%;
      display: flex; }
      .index-container footer ul li {
        flex: 1;
        background: #f6f6f6;
        text-align: center;
        line-height: .44rem;
        font-size: .18rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #c2cfcc; }
        .index-container footer ul li span {
          font-size: .2rem; }
        .index-container footer ul li.active {
          background: #e7f3f0;
          color: #00b38a; }
